* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'montserrat', sans-serif;
    background-image: url('weather.jpg');
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), );
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 8px 200px 8px 200px;
    border-bottom: 2px solid #b43acd;
    font-size: 15px;
    font-weight: 300;
    transition: 0.2s ease-in;
}

main {
    flex: 1 1 100%;
    padding: 23px 23px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
}

.location .city {
    color: brown;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;


}

.location .date {
    color: brown;
    font-size: 16px;
}

.current .temp {
    color: #98af80d9;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 1px #22ff00;
}

.current .temp span {
    font-weight: 400;
}

.current .weather {
    color: #22ff00;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 2px 1px #22ff00;
}

.current .hi-low {
    color: #22ff00;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 2px 1px #22ff00;
}

.current .wind {
    color: #22ff00;
    margin-top: 5px;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 2px 1px #22ff00;
}
.current .kayinco {
    color: #22ff00;
    margin-top: 5px;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 2px 1px #22ff00;
}